@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --secondary: #7C3AED;
    --tertiary: #ED7C3A;
  
    --primary-sat: #027A48;
    --primary: #3E5F58;
    --primary-desat: #B5CFC9;
    --primary-light: #ECFDF3;
    
    --bg-faded: #F5F7F6;
    --bg-lightest: #F9FAFB;
    
    --tx-error: #B91C1C;
    --tx-link: #026AA2;
    --tx-faded: #667085;
    --tx-dark: #101828;
    --tx-lightdark: #344054;
  
    --border-faded: #D0D5DD;
  }

  
  
  body {font-family: "Inter";}
  
* {
  box-sizing: border-box;
}


.tx-altfont-1 { font-family: 'Zeyada', cursive; }
.tx-altfont-2 { font-family: 'Rubik Dirt', cursive; }
.tx-altfont-3 { font-family: 'Gajraj One', cursive; }
.tx-altfont-4 {     font-family: 'Marko One', serif; }
.tx-altfont-5 {     font-family: 'Lobster', serif; }